<div class="container">
    <div class="cards">
        <div>
            <h1>List of all Breeds</h1>
        </div>
        <div class="card animate__animated animate__fadeIn animate__slow"
             *ngFor="let breed of breeds"
             (click)="goToDog( breed.id )">
            <img *ngIf="breed.img" 
                 [src]="breed.img"
            >
            <div class="card-info"
                 *ngIf="breed.img">
                <h2>{{ breed.name }}</h2>
            </div>
        </div>
        <div id="pagination">
            <button id="loadBtn"
                    [disabled]="loadingBreeds"
                    (click)="moreBreeds()">
                        <i *ngIf="!loadingBreeds" class="fas fa-chevron-circle-down"></i>
                        <i *ngIf="loadingBreeds" class="fas fa-spinner fa-spin"></i>
                        More Breeds
                </button>
        </div>
    </div>
</div>