.container{
    margin-top: 70px;
    width: 100%;
    background-color: #eeeeee;
}

.content{
    padding-top: 50px;
    width: 90%;
    margin: 0px auto;
    min-height: 100vh;
}

.content img{
    width: 600px;
    height: 500px;
}