/* ============Search Component============ */

#search-container{
    flex-basis: 50%;
    background-color: #eeeeeea2;
    padding: 15px;
    text-align: center;
}

#search-container > h1{
    font-size: 30px;
    font-weight: bolder;
    width: 430px;
    margin: 0 auto;
    color: #1a3665;
    margin-top: 22px;
}


#searchForm{
    display: flex;
    height: 90px;
    margin-top: 20px;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

#searchForm input[type="text"],
#searchForm button{
    height: 60px;
    border: none;
    opacity: .70;
}

#searchForm input[type="text"]{
    flex-basis: 85%;
    padding-left: 10px;
    outline: none;
    font-size: 20px;
    transition: opacity 400ms;
}

#searchForm input[type="text"]:focus{
    opacity: 1;
}

#searchForm button{
    flex-basis: 15%;
    background-color: var(--secondaryColor);
    color: white;
    border-radius: 0px 10px 10px 0px;
    transition: opacity 400ms;
    cursor: pointer;
    outline: none;
}

#searchForm button:hover{
    opacity: 1;
}


#searchForm button i{
    font-size: 30px;
}

#search-result{
    background-color: white;
    overflow-y: scroll;
    flex-basis: 85%;
    max-height: 190px;
    padding: 10px;
    border-radius: 0 0 10px 10px;
}

#search-result > div{
    height: 60px;
    border-bottom: 1px solid #ccc;
    line-height: 60px;
    cursor: pointer;
}

#search-result > div > p {
    text-align: left;
}


#search-result > div:first-child {
    border-top: 1px solid #ccc;
}


