/* ============Global============ */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html{
    scroll-behavior: smooth;
}



:root{
    --primaryColor: #2372F5;
    --secondaryColor: #F5A623;
    --titlesColor: #4D4751;
}

header{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background: url('assets/img/dogBanner2.jpg') no-repeat fixed;
    background-size: cover;
    background-position: center;
}

.container-fluid{
    width: 100%;
    z-index: 2;
}


.container{
    width: 90%;
    margin: 40px auto;
}

